* {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

body {
    background: #457b9d;
    color: #1D3557;
    margin-top: 20px;
}

.container{
    border-radius: 8rem;
    height:50rem;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space:nowrap;
    background-color: #F1FAEE;
    
}

.todo-title{
color: #457b9d;
font-size: 40px;
font-style:Courier New;

}



  .container::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
  }
  
  /* #card"height: 100px; overflow-y: scroll;"> */

ul {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
    
  }

  .label_container:first-letter {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

  .label_container{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Hide the browser's default checkbox */
.label_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(120, 132, 134, 0.37);
  }

  /* On mouse-over, add a grey background color */
.label_container:hover input ~ .checkmark {
    background-color: #457b9d;;
  }
  
  /* When the checkbox is checked, add a blue background */
  .label_container input:checked ~ .checkmark {
    background-color: #E63946;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .label_container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #F1FAEE;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
 
  .box {
    width: 40rem;
    border: 1px ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    
  }

  #fix{
    position: fixed;
  }

  .right {
    position: absolute;
    right: -30rem;
    width: 300px;
    padding: 10px;
    font-size: 20px;
  }

  .mid
  {
    position: absolute;
    right: -5rem;

 
  }

  #icon_align 
  {
    padding: 5px;
  }

  #date{
    font-size: 15px;
  }

  /* .todo-actions{
    position:  absolute;
    right: 0;
  } */

  
 